/* General Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body {
    color: #290ddd;
    background: #f9f9f9;
    line-height: 1.5;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    color: #fff;
}
